.login-contianer {
  height: 100vh;
  /* background: #282c34; */
}
.input-login {
  background: initial;
  padding: 1rem;
  color: #ffffff;
}
@media (prefers-color-scheme: dark) {
  .input-login:focus {
    background: #50555e;
    color: #ffffff;
  }  
}